body{
background:#0b0f19;
color:white;
font-family:Arial;
text-align:center;
}

input,button{
padding:10px;
margin:5px;
font-size:16px;
}

button{
background:#1f6feb;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

#result{
margin-top:20px;
font-size:18px;
}
